@font-face {
    font-family: 'Zabras';
    src: url('fonts/zabars.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('img/background.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
    margin: 0;
    font-family: 'Zabras', Arial, Helvetica, sans-serif;
}

#game_title {
    top: 40px;
    font-size: 64px;
    letter-spacing: 5px;
    margin-bottom: 10px;
    /* Hier sind deine 10px Abstand zum Canvas */
    margin-top: -84px;
    /* TRICK: Die halbe Höhe (ca.) der h1 als negativer Margin */
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

canvas {
    background-color: black;
}

#fullscreen {
    position: relative;
    width: 720px;
    height: 480px;
    margin: 0 auto;
}

#fullscreen-btn {

    position: absolute;
    top: 6px;
    right: 6px;
    width: 26px;
    height: 26px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

#fullscreen-btn:hover,
#music_btn:hover,
#info_btn:hover {
    background-color: rgba(255, 255, 255, 1);
}

#fullscreen-btn svg {
    width: 24px;
    height: 24px;
}

canvas {
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
}

.endscreen {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%) scale(0);
    object-fit: contain;
    z-index: 15;
    animation: openFromCenter 0.5s ease-out forwards;
}

@keyframes openFromCenter {
    from {
        transform: translate(-50%, -50%) scale(0);
        opacity: 0;
    }

    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

.d_none {
    display: none;
}

#startscreen-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 20;
    /* Über dem Canvas */
    display: flex;
    justify-content: center;
    align-items: center;
}

#startscreen {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.start-info {
    position: absolute;
    bottom: 40px;
    font-size: 32px;
    color: white;
    font-family: 'Zilla Slab', serif;
    /* Oder deine Schriftart */
    text-shadow: 2px 2px 4px black;
    animation: blink 1.5s infinite;
    cursor: pointer;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.d_none {
    display: none !important;
}

#endscreen_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

#restart {
    z-index: 100;
}

#info_btn {
    color: black;
    position: absolute;
    top: 6px;
    right: 40px;
    width: 26px;
    height: 26px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

#music_btn {
    color: black;
    position: absolute;
    top: 6px;
    right: 74px;
    width: 26px;
    height: 26px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

#back_home_btn {
    color: black;
    position: absolute;
    bottom: 200px;
    left: 10px;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

#back_home_btn:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

#restart_btn {
    font-size: 20px;
    color: black;
    position: absolute;
    bottom: 30px;
    right: 240px;
    width: 100px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

#restart_btn:hover,
#home_btn:hover {
    background-color: rgba(255, 255, 255, 1);
}

#home_btn {
    font-size: 20px;
    color: black;
    position: absolute;
    bottom: 30px;
    left: 240px;
    width: 100px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

#overlay {
    background-color: rgba(0, 0, 0, 0.85);
    color: rgb(233, 232, 232);
    padding: 20px;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#overlay_headline {
    font-size: 64px;
    letter-spacing: 5px;
    margin: 10px 0;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#overlay p {
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.info_card {
    background-color: #f7e8c3; /* Dein beiger Ton */
    color: #3e2723; /* Dunkelbraune Schrift */
    padding: 40px;
    border-radius: 20px;
    border: 4px solid #3e2723;
    position: relative; /* Damit das X absolut darin positioniert werden kann */
    max-width: 900px;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid_container {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    /* max-width: 800px;
    width: 90%; */
    max-height: 90vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20;

}

.info_box {
    margin: 10px;
    border: 1px solid #dcc499;
    border-radius: 15px;
    padding: 6px;
    background-color: rgba(255, 255, 255, 0.4);
}

.close-x {
    position: absolute;
    top: 15px;
    right: 15px;
    background: #f7e8c3;
    border: 2px solid #3e2723;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-weight: bold;
}

@media (max-height: 650px) {
    h1 {
        font-size: 40px;
        top: 10px;
    }
}